*{
    background: white;
    margin: 0;
    padding: 50px;
    font-family: roboto;
   
    
}
table{
    border-collapse: collapse;
    width: 100%;
}
table, th,td{
    border: 1px solid rgb(255, 168, 6);
}
th{
    background: orange;
    color: black;
  
    
}
td{
    background: rgb(58, 58, 106);
    color: white;
    text-align: left;
}

.lastname{
    background: rgb(185, 131, 31);

}
